In [1]:
import os
import tabula
import numpy as np
import pandas as pd
from pandas import DataFrame
import PyPDF2 as pyPdf

# Read All tables in PDF file

In [2]:
data=r'C:\Users\woru6001\Desktop\Data Mining\Python Code\Daily Stock Price\Market Sector Information\Securities_Equities_Year_End_Closing_Prices_2018.pdf'
output = pd.DataFrame(tabula.read_pdf(data,pages=1))
output=output.dropna()

In [3]:
output2= pd.DataFrame([])
reader = pyPdf.PdfFileReader(open(data,mode='rb') )
n = reader.getNumPages() 
for i in range(2,n):
    df1 = tabula.read_pdf(data,pages=i,sort=True,pandas_options={'header': None},multiple_tables=True)
    output2=output2.append(df1)

In [4]:
output.shape

(61, 6)

In [5]:
output2.shape

(1782, 6)

In [6]:
output.head()

,Stock,Stock Name,Stock Long Name,Board,Sector,Closing
2,0001,SCOMNET,SUPERCOMNET TECHNOLOGIES BHD,ACE MARKET,INDUSTRIAL PRODUCTS & SERVICES,0.560
3,0002,KOTRA,KOTRA INDUSTRIES BHD,MAIN MARKET,HEALTH CARE,1.700
4,0005,UCREST,UCREST BERHAD,ACE MARKET,TECHNOLOGY,0.265
5,0006,PINEAPP,PINEAPPLE RESOURCES BHD,ACE MARKET,TECHNOLOGY,0.310
6,0007,PUC,PUC BERHAD,ACE MARKET,TELECOMMUNICATIONS & MEDIA,0.115

In [7]:
output2 = output2.rename(columns = {0: "Stock", 
                                1:"Stock Name",
                                2: "Stock Long Name",
                               3: "Board",
                               4:"Sector",
                               5:"Closing"})
output2.head()

,Stock,Stock Name,Stock Long Name,Board,Sector,Closing
0,0066,VSOLAR,VSOLAR GROUP BERHAD,ACE MARKET,TECHNOLOGY,0.120
1,0068,ASDION,ASDION BHD,ACE MARKET,TECHNOLOGY,0.185
2,0068WB,ASDION-WB,ASDION BERHAD - WARRANTS 2014/2019,ACE MARKET,TECHNOLOGY,0.010
3,0069,VIVOCOM,VIVOCOM INTL HOLDINGS BERHAD,ACE MARKET,TECHNOLOGY,0.020
4,0069WC,VIVOCOM-WC,VIVOCOM INTL HOLDINGS BERHAD - WARRANTS C 2015...,ACE MARKET,TECHNOLOGY,0.005

# Append data frame

In [8]:
output3=output.append(output2)
print(output3.shape)
output3.tail()

(1843, 6)

,Stock,Stock Name,Stock Long Name,Board,Sector,Closing
61,9539,MUH,MULTI-USAGE HOLDINGS BHD,MAIN MARKET,PROPERTY,0.490
62,9571,MITRA,MITRAJAYA HOLDINGS BHD,MAIN MARKET,CONSTRUCTION,0.280
63,9571WD,MITRA-WD,MITRAJAYA HOLDINGS BERHAD-WARRANTS D 15/20,MAIN MARKET,CONSTRUCTION,0.030
64,9571WE,MITRA-WE,MITRAJAYA HOLDINGS BERHAD - WARRANTS E 2018/2023,MAIN MARKET,CONSTRUCTION,0.055
65,9598,PTARAS,PINTARAS JAYA BHD,MAIN MARKET,CONSTRUCTION,2.230

In [9]:
output3.Stock = output3.Stock.apply('="{}"'.format)

# Export dataframe

In [12]:
output3.to_csv('Market Segment Information.csv',index=False)
output3.to_excel ('Market Segment Information.xlsx', index = None, header=True)