# Import Library

In [11]:
import os
import tabula
import numpy as np
import pandas as pd
from pandas import DataFrame
import PyPDF2 as pyPdf

# Instruction: Change the location of the 2 folder

In [12]:
#update path where the downloded 'Data Mining' were stored
path = r"C:\Users\woru6001\Desktop"

# Read All the PDF files in the folder

In [13]:
arr = []
for file in os.listdir(path + r"\Data Mining\Python Code\Daily Stock Price"):
    if file.endswith(".pdf"):
        arr.append(file)

filenames = [f for f in arr]  

output = pd.DataFrame([])
final = pd.DataFrame([])
filenames

['securities_equities_010419.pdf',
 'securities_equities_020419.pdf',
 'securities_equities_030419.pdf',
 'securities_equities_040419.pdf',
 'securities_equities_050419.pdf',
 'securities_equities_080419.pdf',
 'securities_equities_090419.pdf',
 'securities_equities_100419.pdf',
 'securities_equities_110419.pdf',
 'securities_equities_120419.pdf',
 'securities_equities_150419.pdf',
 'securities_equities_160419.pdf',
 'securities_equities_170419.pdf',
 'securities_equities_180419.pdf',
 'securities_equities_190419.pdf',
 'securities_equities_250319.pdf',
 'securities_equities_260319.pdf',
 'securities_equities_270319.pdf',
 'securities_equities_280319.pdf',
 'securities_equities_290319.pdf']

# Read and append tables from selected pages

In [14]:
for data in filenames:
    reader = pyPdf.PdfFileReader(open(data,mode='rb') )
    n = reader.getNumPages() 
    for i in range(4,n):
        df1 = tabula.read_pdf(data,pages=i,sort=True)
        output=output.append(df1)
    final = final.append(output)

FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.
 [frame.py:6692]

In [15]:
test=final.copy()
test.head()
test.shape

(409302, 11)

# Data Cleaning

In [16]:
test['Stock Name']=test['Stock Name'].fillna(test['Unnamed: 2'])
test = test.drop("Unnamed: 2", axis=1)
#test=test.dropna()
test.shape

(409302, 10)

In [17]:
#Retaining Leading Zero in StockCode
test.Stock = test.Stock.apply('="{}"'.format)

#Remove Duplicate and NA 
test = test.drop_duplicates()
test=test.dropna()
print(test.shape)

(37180, 10)

In [18]:
test.tail()

,Closing,Cur.,Date,High,Low,Opening,Stock,Stock Name,Value Traded,Volume
54,1.140,MYR,29/03/2019,1.140,1.100,1.100,"=""9687""",IDEAL,"5,614","5,100"
55,0.355,MYR,29/03/2019,0.370,0.355,0.370,"=""9687WB""",IDEAL-WB,"12,934","35,000"
56,0.970,MYR,29/03/2019,0.970,0.960,0.960,"=""9695""",PLS,"1,087,677","1,131,900"
57,0.255,MYR,29/03/2019,0.265,0.225,0.225,"=""9717""",SYCAL,"201,359","815,400"
58,0.650,MYR,29/03/2019,0.660,0.650,0.660,"=""9741""",ROHAS,"32,550","50,000"

# Rearrange and rename Columns

In [19]:
test2 = test[['Date', 'Stock', 'Stock Name', 'Cur.','Opening', 'Closing','High','Low','Value Traded','Volume']]
test2.columns = ['Date', 'Stock Code', 'Stock Name', 'Currency','Opening', 'Closing','High','Low','Value Traded','Volume Traded']
test2.head()

,Date,Stock Code,Stock Name,Currency,Opening,Closing,High,Low,Value Traded,Volume Traded
3,01/04/2019,"=""0001""",SCOMNET,MYR,0.795,0.790,0.810,0.785,"500,654","630,500"
4,01/04/2019,"=""0002""",KOTRA,MYR,1.690,1.690,1.690,1.690,"15,717","9,300"
5,01/04/2019,"=""0005""",UCREST,MYR,0.260,0.255,0.265,0.255,"1,999,327","7,728,700"
6,01/04/2019,"=""0006""",PINEAPP,MYR,0.000,0.320,0.000,0.000,0,0
7,01/04/2019,"=""0007""",PUC,MYR,0.095,0.095,0.095,0.095,"795,359","8,372,200"

In [20]:
test2.head()

,Date,Stock Code,Stock Name,Currency,Opening,Closing,High,Low,Value Traded,Volume Traded
3,01/04/2019,"=""0001""",SCOMNET,MYR,0.795,0.790,0.810,0.785,"500,654","630,500"
4,01/04/2019,"=""0002""",KOTRA,MYR,1.690,1.690,1.690,1.690,"15,717","9,300"
5,01/04/2019,"=""0005""",UCREST,MYR,0.260,0.255,0.265,0.255,"1,999,327","7,728,700"
6,01/04/2019,"=""0006""",PINEAPP,MYR,0.000,0.320,0.000,0.000,0,0
7,01/04/2019,"=""0007""",PUC,MYR,0.095,0.095,0.095,0.095,"795,359","8,372,200"

In [13]:
#test2.to_csv('Stock_Data.csv',index=False)

# Remove Warrant Stock

In [21]:
test3= test2[~test2['Stock Code'].str.contains("A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z",na=False)]
test3.shape

(26223, 10)

In [22]:
test3= test3[~test3['Stock Name'].str.contains("-",na=False)]
test3.shape

(19747, 10)

# Extract, Import Market and Sector Information

In [23]:
data=path + r'\Data Mining\Python Code\Daily Stock Price\Market Sector Information\Securities_Equities_Year_End_Closing_Prices_2018.pdf'
output = pd.DataFrame(tabula.read_pdf(data,pages=1))
output=output.dropna()
output2= pd.DataFrame([])
reader = pyPdf.PdfFileReader(open(data,mode='rb') )
n = reader.getNumPages() 
for i in range(2,n):
    df1 = tabula.read_pdf(data,pages=i,sort=True,pandas_options={'header': None},multiple_tables=True)
    output2=output2.append(df1)
output2.head()

,0,1,2,3,4,5
0,0066,VSOLAR,VSOLAR GROUP BERHAD,ACE MARKET,TECHNOLOGY,0.120
1,0068,ASDION,ASDION BHD,ACE MARKET,TECHNOLOGY,0.185
2,0068WB,ASDION-WB,ASDION BERHAD - WARRANTS 2014/2019,ACE MARKET,TECHNOLOGY,0.010
3,0069,VIVOCOM,VIVOCOM INTL HOLDINGS BERHAD,ACE MARKET,TECHNOLOGY,0.020
4,0069WC,VIVOCOM-WC,VIVOCOM INTL HOLDINGS BERHAD - WARRANTS C 2015...,ACE MARKET,TECHNOLOGY,0.005

In [24]:
output2 = output2.rename(columns = {0: "Stock", 
                                1:"Stock Name",
                                2: "Stock Long Name",
                               3: "Board",
                               4:"Sector",
                               5:"Closing"})
output3=output.append(output2)
print(output3.shape)
output3.Stock=output3.Stock.apply('="{}"'.format)
output3.tail()

(1843, 6)

,Stock,Stock Name,Stock Long Name,Board,Sector,Closing
61,"=""9539""",MUH,MULTI-USAGE HOLDINGS BHD,MAIN MARKET,PROPERTY,0.490
62,"=""9571""",MITRA,MITRAJAYA HOLDINGS BHD,MAIN MARKET,CONSTRUCTION,0.280
63,"=""9571WD""",MITRA-WD,MITRAJAYA HOLDINGS BERHAD-WARRANTS D 15/20,MAIN MARKET,CONSTRUCTION,0.030
64,"=""9571WE""",MITRA-WE,MITRAJAYA HOLDINGS BERHAD - WARRANTS E 2018/2023,MAIN MARKET,CONSTRUCTION,0.055
65,"=""9598""",PTARAS,PINTARAS JAYA BHD,MAIN MARKET,CONSTRUCTION,2.230

In [25]:
sector = output3[['Stock', 'Board', 'Sector']]
sector.columns = ['Stock Code','Board', 'Sector']
sector.head()

  Stock Code        Board                          Sector
2    ="0001"   ACE MARKET  INDUSTRIAL PRODUCTS & SERVICES
3    ="0002"  MAIN MARKET                     HEALTH CARE
4    ="0005"   ACE MARKET                      TECHNOLOGY
5    ="0006"   ACE MARKET                      TECHNOLOGY
6    ="0007"   ACE MARKET      TELECOMMUNICATIONS & MEDIA

# vlookup sector and market information

In [26]:
consolidated=pd.merge(test3, sector, on='Stock Code', how='left')

In [27]:
consolidated.head()

,Date,Stock Code,Stock Name,Currency,Opening,Closing,High,Low,Value Traded,Volume Traded,Board,Sector
0,01/04/2019,"=""0001""",SCOMNET,MYR,0.795,0.790,0.810,0.785,"500,654","630,500",ACE MARKET,INDUSTRIAL PRODUCTS & SERVICES
1,01/04/2019,"=""0002""",KOTRA,MYR,1.690,1.690,1.690,1.690,"15,717","9,300",MAIN MARKET,HEALTH CARE
2,01/04/2019,"=""0005""",UCREST,MYR,0.260,0.255,0.265,0.255,"1,999,327","7,728,700",ACE MARKET,TECHNOLOGY
3,01/04/2019,"=""0006""",PINEAPP,MYR,0.000,0.320,0.000,0.000,0,0,ACE MARKET,TECHNOLOGY
4,01/04/2019,"=""0007""",PUC,MYR,0.095,0.095,0.095,0.095,"795,359","8,372,200",ACE MARKET,TELECOMMUNICATIONS & MEDIA

# Converting data types

In [28]:
consolidated.dtypes

Date             object
Stock Code       object
Stock Name       object
Currency         object
Opening          object
Closing          object
High             object
Low              object
Value Traded     object
Volume Traded    object
Board            object
Sector           object
dtype: object

In [29]:
#Converting str to integer
consolidated['Value Traded'] = consolidated['Value Traded'].str.replace(",","").astype(int)
consolidated['Volume Traded'] = consolidated['Volume Traded'].str.replace(",","").astype(int)
consolidated['Opening'] = pd.to_numeric(consolidated.Opening, errors='coerce')
consolidated['Closing'] = pd.to_numeric(consolidated.Closing, errors='coerce')
consolidated['High'] = pd.to_numeric(consolidated.High, errors='coerce')
consolidated['Low'] = pd.to_numeric(consolidated.Low, errors='coerce')

In [30]:
consolidated.dtypes

Date              object
Stock Code        object
Stock Name        object
Currency          object
Opening          float64
Closing          float64
High             float64
Low              float64
Value Traded       int32
Volume Traded      int32
Board             object
Sector            object
dtype: object

In [31]:
#Forming Dependant Variables
consolidated['test']=consolidated['Closing']-consolidated['Opening']

consolidated.loc[consolidated.test > 0, 'StockPriceChange'] = 'Increase'
consolidated.loc[consolidated.test < 0, 'StockPriceChange'] = 'Decrease'
consolidated.loc[consolidated.test == 0, 'StockPriceChange'] = 'Remain'
del consolidated['test']

In [32]:
consolidated.head()

,Date,Stock Code,Stock Name,Currency,Opening,Closing,High,Low,Value Traded,Volume Traded,Board,Sector,StockPriceChange
0,01/04/2019,"=""0001""",SCOMNET,MYR,0.795,0.790,0.810,0.785,500654,630500,ACE MARKET,INDUSTRIAL PRODUCTS & SERVICES,Decrease
1,01/04/2019,"=""0002""",KOTRA,MYR,1.690,1.690,1.690,1.690,15717,9300,MAIN MARKET,HEALTH CARE,Remain
2,01/04/2019,"=""0005""",UCREST,MYR,0.260,0.255,0.265,0.255,1999327,7728700,ACE MARKET,TECHNOLOGY,Decrease
3,01/04/2019,"=""0006""",PINEAPP,MYR,0.000,0.320,0.000,0.000,0,0,ACE MARKET,TECHNOLOGY,Increase
4,01/04/2019,"=""0007""",PUC,MYR,0.095,0.095,0.095,0.095,795359,8372200,ACE MARKET,TELECOMMUNICATIONS & MEDIA,Remain

In [33]:
consolidated['High']=consolidated['High'].fillna(0)
consolidated['Low']=consolidated['Low'].fillna(0)

# Export Consolidated Clean Data

In [34]:
consolidated.to_csv(path + r'\Data Mining\Python Code\Output\Stock_Data_Final_filtered.csv',index=False)
consolidated.to_excel (path + r'\Data Mining\Python Code\Output\Stock_Data_Final_filtered.xlsx', index = None, header=True)

# Run Covariance Analysis

In [35]:
#import back the clean dataset and select only stock closing price information
df = pd.read_csv(path + r'\Data Mining\Python Code\Output\Stock_Data_Final_filtered.csv')
df1=df[['Date','Stock Name','Closing']]
df1.head(n=8)

         Date Stock Name  Closing
0  01/04/2019    SCOMNET    0.790
1  01/04/2019      KOTRA    1.690
2  01/04/2019     UCREST    0.255
3  01/04/2019    PINEAPP    0.320
4  01/04/2019        PUC    0.095
5  01/04/2019     WILLOW    0.455
6  01/04/2019       IRIS    0.155
7  01/04/2019      BTECH    0.335

In [36]:
df2=df1.pivot_table(index='Stock Name', columns='Date',values='Closing')
df2.reset_index(inplace=True)

In [37]:
df2 = df2.replace(np.NaN,0)
print(df2.isnull().sum())

Date
Stock Name    0
01/04/2019    0
02/04/2019    0
03/04/2019    0
04/04/2019    0
05/04/2019    0
08/04/2019    0
09/04/2019    0
10/04/2019    0
11/04/2019    0
12/04/2019    0
15/04/2019    0
16/04/2019    0
17/04/2019    0
18/04/2019    0
19/04/2019    0
25/03/2019    0
26/03/2019    0
27/03/2019    0
28/03/2019    0
29/03/2019    0
dtype: int64

In [38]:
df2.head(n=8)

Date,Stock Name,01/04/2019,02/04/2019,03/04/2019,04/04/2019,05/04/2019,08/04/2019,09/04/2019,10/04/2019,11/04/2019,...,15/04/2019,16/04/2019,17/04/2019,18/04/2019,19/04/2019,25/03/2019,26/03/2019,27/03/2019,28/03/2019,29/03/2019
0,3A,0.930,0.930,0.940,0.940,0.935,0.935,0.935,0.945,0.935,...,0.930,0.925,0.940,0.920,0.925,0.950,0.98,0.970,0.935,0.935
1,AASIA,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.150,...,0.150,0.165,0.145,0.145,0.160,0.160,0.16,0.160,0.160,0.150
2,AAX,0.240,0.245,0.245,0.245,0.240,0.235,0.230,0.230,0.230,...,0.220,0.225,0.230,0.230,0.230,0.245,0.25,0.245,0.245,0.245
3,ABLEGRP,0.075,0.080,0.075,0.075,0.080,0.080,0.085,0.085,0.085,...,0.080,0.085,0.080,0.085,0.085,0.070,0.07,0.070,0.070,0.070
4,ABMB,4.010,4.000,4.080,4.120,4.120,4.100,4.090,4.090,4.080,...,4.030,4.020,4.000,4.000,4.000,4.140,4.14,4.070,4.040,4.090
5,ACME,0.250,0.250,0.250,0.260,0.260,0.260,0.260,0.260,0.260,...,0.300,0.300,0.300,0.300,0.300,0.250,0.25,0.250,0.250,0.250
6,ACOSTEC,0.420,0.420,0.420,0.415,0.420,0.415,0.420,0.420,0.415,...,0.415,0.415,0.415,0.405,0.405,0.430,0.42,0.415,0.425,0.420
7,ADVCON,0.440,0.440,0.435,0.430,0.430,0.445,0.470,0.475,0.460,...,0.435,0.420,0.410,0.425,0.425,0.420,0.43,0.425,0.410,0.425

In [39]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
# Separating out the features
x = df2.iloc[:,1:].values
# Standardizing the features
x = StandardScaler().fit_transform(x)

In [40]:
print (x.shape)

(1022, 20)

In [41]:
#running PCA components to reduce the dimentionality of the dataset
#running PCA =3
pca = PCA(n_components=3)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2','principal component 3'])
pca.explained_variance_ratio_
sum(pca.explained_variance_ratio_)*100

99.98456145293945

In [42]:
#Running PCA =2
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])
pca.explained_variance_ratio_
sum(pca.explained_variance_ratio_)*100

99.96684448870957

# Since 99.97% of the variance can be explained by 2 PCA, hence we will not add in the 3rd PCA

In [43]:
Companyname=df2['Stock Name'].tolist()

In [44]:
#obtain the covariance of the reduced dataset  
y = np.array(principalDf)
covariance = pd.DataFrame(np.cov(y),columns=Companyname,index=Companyname)
variance = np.var(y, axis=1, ddof=1)
print(covariance)

                  3A     AASIA       AAX   ABLEGRP       ABMB      ACME  \
3A          0.114232  0.253657  0.238972  0.266762  -0.437752  0.232787
AASIA       0.253657  0.563257  0.530649  0.592358  -0.972048  0.516913
AAX         0.238972  0.530649  0.499928  0.558064  -0.915774  0.486988
ABLEGRP     0.266762  0.592358  0.558064  0.622962  -1.022269  0.543619
ABMB       -0.437752 -0.972048 -0.915774 -1.022269   1.677525 -0.892070
ACME        0.232787  0.516913  0.486988  0.543619  -0.892070  0.474382
ACOSTEC     0.206763  0.459126  0.432546  0.482847  -0.792343  0.421350
ADVCON      0.203292  0.451419  0.425285  0.474741  -0.779042  0.414276
ADVENTA     0.217554  0.483088  0.455121  0.508047  -0.833696  0.443340
ADVPKG     -0.048064 -0.106727 -0.100549 -0.112241   0.184186 -0.097946
AEM         0.261868  0.581489  0.547825  0.611532  -1.003512  0.533645
AEMULUS     0.238334  0.529232  0.498593  0.556575  -0.913329  0.485688
AEON        0.022334  0.049593  0.046722  0.052155  -0.085586  0.045513
AEONCR     -2.715907 -6.030790 -5.681651 -6.342370  10.407716 -5.534585
AFFIN      -0.107971 -0.239755 -0.225874 -0.252141   0.413760 -0.220028
AFUJIYA     0.184045  0.408680  0.385020  0.429794  -0.705285  0.375054
AHB         0.254063  0.564159  0.531498  0.593306  -0.973604  0.517741
AHEALTH    -1.308067 -2.904619 -2.736463 -3.054686   5.012685 -2.665631
AHP         0.145043  0.322075  0.303429  0.338715  -0.555825  0.295575
AIM         0.235492  0.522919  0.492646  0.549936  -0.902435  0.479894
AIRASIA    -0.173862 -0.386069 -0.363718 -0.406015   0.666263 -0.354304
AIRASIAC59  0.277265  0.615679  0.580036  0.647488  -1.062517  0.565022
AIRASIAC67  0.274861  0.610341  0.575007  0.641874  -1.053304  0.560123
AIRASIAC68  0.280655  0.623207  0.587128  0.655405  -1.075508  0.571931
AIRASIAC69  0.280655  0.623207  0.587128  0.655405  -1.075508  0.571931
AIRASIAC70  0.280397  0.622634  0.586588  0.654802  -1.074518  0.571404
AIRASIAC71  0.272558  0.605227  0.570188  0.636496  -1.044478  0.555429
AIRASIAC72  0.259192  0.575547  0.542227  0.605282  -0.993257  0.528191
AIRASIAC73  0.255885  0.568205  0.535310  0.597561  -0.980587  0.521454
AIRASIAC74  0.236641  0.525471  0.495050  0.552620  -0.906839  0.482236
...              ...       ...       ...       ...        ...       ...
WPRTS      -0.380622 -0.845187 -0.796257 -0.888854   1.458593 -0.775646
WTHORSE     0.083582  0.185597  0.174852  0.195186  -0.320296  0.170326
WTK         0.167811  0.372633  0.351060  0.391885  -0.643076  0.341973
WZSATU      0.228884  0.508248  0.478824  0.534507  -0.877116  0.466430
XDL         0.264509  0.587355  0.553351  0.617701  -1.013636  0.539028
XIANLNG     0.202325  0.449271  0.423261  0.472482  -0.775335  0.412305
XINGHE      0.275288  0.611290  0.575901  0.642872  -1.054942  0.560994
XINHWA      0.140533  0.312059  0.293993  0.328182  -0.538540  0.286383
XINQUAN     0.271032  0.601839  0.566997  0.632933  -1.038632  0.552321
XOX         0.271382  0.602615  0.567728  0.633749  -1.039971  0.553033
Y&G         0.118774  0.263743  0.248475  0.277370  -0.455159  0.242043
YBS         0.257217  0.571161  0.538095  0.600670  -0.985688  0.524166
YEELEE     -0.057827 -0.128408 -0.120974 -0.135042   0.221602 -0.117843
YFG         0.279936  0.621611  0.585624  0.653726  -1.072753  0.570466
YGL         0.260398  0.578224  0.544749  0.608098  -0.997878  0.530649
YILAI       0.168988  0.375245  0.353521  0.394631  -0.647583  0.344370
YINSON     -0.536670 -1.191699 -1.122708 -1.253268   2.056591 -1.093648
YKGI        0.259486  0.576201  0.542843  0.605970  -0.994386  0.528792
YLI         0.231362  0.513749  0.484006  0.540291  -0.886608  0.471478
YNHPROP     0.048795  0.108351  0.102078  0.113948  -0.186987  0.099436
YOCB        0.071492  0.158752  0.149562  0.166954  -0.273969  0.145690
YONGTAI     0.215950  0.479526  0.451764  0.504300  -0.827548  0.440071
YSPSAH     -0.225989 -0.501820 -0.472768 -0.527746   0.866022 -0.460531
YTL         0.079330  0.176155  0.165957  0.185257  -0.304003  0.161662
YTLLAND     0.211896  0.470525  0.443285  0.494834  -0.812014  0.431811
YTLPOWR     0.124672  0.276839  0.260812  0.291142  -0.477758  0.254061
YTLREIT     0.050703  0.112588  0.106070  0.118405  -0.194301  0.103325
ZECON       0.230152  0.511062  0.481475  0.537466  -0.881971  0.469012
ZELAN       0.264686  0.587747  0.553720  0.618112  -1.014311  0.539388
ZHULIAN     0.034828  0.077336  0.072859  0.081332  -0.133464  0.070973

             ACOSTEC    ADVCON   ADVENTA    ADVPKG  ...      YOCB   YONGTAI  \
3A          0.206763  0.203292  0.217554 -0.048064  ...  0.071492  0.215950
AASIA       0.459126  0.451419  0.483088 -0.106727  ...  0.158752  0.479526
AAX         0.432546  0.425285  0.455121 -0.100549  ...  0.149562  0.451764
ABLEGRP     0.482847  0.474741  0.508047 -0.112241  ...  0.166954  0.504300
ABMB       -0.792343 -0.779042 -0.833696  0.184186  ... -0.273969 -0.827548
ACME        0.421350  0.414276  0.443340 -0.097946  ...  0.145690  0.440071
ACOSTEC     0.374246  0.367963  0.393778 -0.086996  ...  0.129403  0.390874
ADVCON      0.367963  0.361786  0.387168 -0.085536  ...  0.127231  0.384312
ADVENTA     0.393778  0.387168  0.414330 -0.091537  ...  0.136157  0.411274
ADVPKG     -0.086996 -0.085536 -0.091537  0.020223  ... -0.030081 -0.090862
AEM         0.473987  0.466030  0.498725 -0.110182  ...  0.163891  0.495047
AEMULUS     0.431391  0.424150  0.453906 -0.100280  ...  0.149162  0.450559
AEON        0.040425  0.039746  0.042534 -0.009397  ...  0.013978  0.042221
AEONCR     -4.915860 -4.833336 -5.172421  1.142728  ... -1.699759 -5.134277
AFFIN      -0.195430 -0.192150 -0.205630  0.045429  ... -0.067574 -0.204114
AFUJIYA     0.333126  0.327534  0.350512 -0.077438  ...  0.115185  0.347927
AHB         0.459861  0.452141  0.483861 -0.106898  ...  0.159006  0.480293
AHEALTH    -2.367634 -2.327887 -2.491202  0.550374  ... -0.818658 -2.472830
AHP         0.262532  0.258125  0.276234 -0.061028  ...  0.090776  0.274197
AIM         0.426246  0.419090  0.448492 -0.099084  ...  0.147383  0.445184
AIRASIA    -0.314695 -0.309412 -0.331119  0.073153  ... -0.108812 -0.328677
AIRASIAC59  0.501857  0.493432  0.528049 -0.116660  ...  0.173527  0.524155
AIRASIAC67  0.497506  0.489154  0.523471 -0.115649  ...  0.172023  0.519610
AIRASIAC68  0.507993  0.499465  0.534506 -0.118087  ...  0.175649  0.530564
AIRASIAC69  0.507993  0.499465  0.534506 -0.118087  ...  0.175649  0.530564
AIRASIAC70  0.507526  0.499006  0.534014 -0.117978  ...  0.175487  0.530075
AIRASIAC71  0.493337  0.485055  0.519084 -0.114680  ...  0.170581  0.515256
AIRASIAC72  0.469144  0.461268  0.493628 -0.109056  ...  0.162216  0.489988
AIRASIAC73  0.463159  0.455384  0.487332 -0.107665  ...  0.160147  0.483738
AIRASIAC74  0.428326  0.421135  0.450680 -0.099568  ...  0.148102  0.447357
...              ...       ...       ...       ...  ...       ...       ...
WPRTS      -0.688935 -0.677369 -0.724891  0.160148  ... -0.238213 -0.719545
WTHORSE     0.151285  0.148745  0.159181 -0.035167  ...  0.052310  0.158007
WTK         0.303743  0.298644  0.319595 -0.070607  ...  0.105025  0.317238
WZSATU      0.414287  0.407332  0.435909 -0.096304  ...  0.143248  0.432694
XDL         0.478769  0.470732  0.503756 -0.111293  ...  0.165544  0.500041
XIANLNG     0.366213  0.360065  0.385325 -0.085129  ...  0.126625  0.382484
XINGHE      0.498279  0.489914  0.524284 -0.115829  ...  0.172290  0.520418
XINHWA      0.254368  0.250098  0.267643 -0.059130  ...  0.087953  0.265670
XINQUAN     0.490575  0.482340  0.516179 -0.114038  ...  0.169627  0.512372
XOX         0.491208  0.482962  0.516844 -0.114185  ...  0.169845  0.513033
Y&G         0.214984  0.211375  0.226204 -0.049975  ...  0.074335  0.224536
YBS         0.465568  0.457753  0.489867 -0.108225  ...  0.160980  0.486254
YEELEE     -0.104669 -0.102912 -0.110131  0.024331  ... -0.036191 -0.109319
YFG         0.506692  0.498186  0.533136 -0.117784  ...  0.175199  0.529205
YGL         0.471326  0.463414  0.495925 -0.109563  ...  0.162971  0.492268
YILAI       0.305872  0.300737  0.321836 -0.071102  ...  0.105761  0.319462
YINSON     -0.971386 -0.955079 -1.022083  0.225806  ... -0.335877 -1.014546
YKGI        0.469677  0.461792  0.494190 -0.109180  ...  0.162400  0.490545
YLI         0.418770  0.411740  0.440626 -0.097346  ...  0.144798  0.437377
YNHPROP     0.088319  0.086837  0.092929 -0.020531  ...  0.030538  0.092244
YOCB        0.129403  0.127231  0.136157 -0.030081  ...  0.044744  0.135153
YONGTAI     0.390874  0.384312  0.411274 -0.090862  ...  0.135153  0.408241
YSPSAH     -0.409047 -0.402180 -0.430395  0.095086  ... -0.141436 -0.427221
YTL         0.143589  0.141179  0.151083 -0.033378  ...  0.049649  0.149969
YTLLAND     0.383537  0.377099  0.403554 -0.089156  ...  0.132616  0.400578
YTLPOWR     0.225659  0.221871  0.237436 -0.052456  ...  0.078026  0.235685
YTLREIT     0.091774  0.090233  0.096563 -0.021333  ...  0.031733  0.095851
ZECON       0.416580  0.409587  0.438322 -0.096837  ...  0.144041  0.435089
ZELAN       0.479088  0.471045  0.504092 -0.111368  ...  0.165655  0.500374
ZHULIAN     0.063039  0.061981  0.066329 -0.014654  ...  0.021797  0.065840

              YSPSAH       YTL   YTLLAND   YTLPOWR   YTLREIT     ZECON  \
3A         -0.225989  0.079330  0.211896  0.124672  0.050703  0.230152
AASIA      -0.501820  0.176155  0.470525  0.276839  0.112588  0.511062
AAX        -0.472768  0.165957  0.443285  0.260812  0.106070  0.481475
ABLEGRP    -0.527746  0.185257  0.494834  0.291142  0.118405  0.537466
ABMB        0.866022 -0.304003 -0.812014 -0.477758 -0.194301 -0.881971
ACME       -0.460531  0.161662  0.431811  0.254061  0.103325  0.469012
ACOSTEC    -0.409047  0.143589  0.383537  0.225659  0.091774  0.416580
ADVCON     -0.402180  0.141179  0.377099  0.221871  0.090233  0.409587
ADVENTA    -0.430395  0.151083  0.403554  0.237436  0.096563  0.438322
ADVPKG      0.095086 -0.033378 -0.089156 -0.052456 -0.021333 -0.096837
AEM        -0.518063  0.181857  0.485755  0.285800  0.116233  0.527604
AEMULUS    -0.471506  0.165514  0.442101  0.260116  0.105787  0.480190
AEON       -0.044184  0.015510  0.041428  0.024375  0.009913  0.044997
AEONCR      5.372979 -1.886096 -5.037905 -2.964112 -1.205481 -5.471934
AFFIN       0.213603 -0.074982 -0.200282 -0.117839 -0.047924 -0.217537
AFUJIYA    -0.364103  0.127812  0.341396  0.200865  0.081690  0.370809
AHB        -0.502623  0.176437  0.471278  0.277282  0.112768  0.511880
AHEALTH     2.587797 -0.908403 -2.426414 -1.427610 -0.580598 -2.635457
AHP        -0.286945  0.100727  0.269050  0.158299  0.064379  0.292229
AIM        -0.465882  0.163540  0.436828  0.257013  0.104525  0.474462
AIRASIA     0.343958 -0.120741 -0.322508 -0.189751 -0.077170 -0.350293
AIRASIAC59 -0.548524  0.192550  0.514316  0.302604  0.123067  0.558626
AIRASIAC67 -0.543768  0.190881  0.509857  0.299981  0.122000  0.553783
AIRASIAC68 -0.555231  0.194905  0.520605  0.306304  0.124571  0.565456
AIRASIAC69 -0.555231  0.194905  0.520605  0.306304  0.124571  0.565456
AIRASIAC70 -0.554720  0.194725  0.520126  0.306022  0.124457  0.564936
AIRASIAC71 -0.539211  0.189281  0.505585  0.297467  0.120977  0.549142
AIRASIAC72 -0.512769  0.179999  0.480791  0.282879  0.115045  0.522212
AIRASIAC73 -0.506228  0.177703  0.474658  0.279271  0.113577  0.515551
AIRASIAC74 -0.468155  0.164338  0.438960  0.258267  0.105035  0.476777
...              ...       ...       ...       ...       ...       ...
WPRTS       0.752998 -0.264328 -0.706039 -0.415406 -0.168943 -0.766866
WTHORSE    -0.165353  0.058044  0.155041  0.091220  0.037099  0.168398
WTK        -0.331987  0.116539  0.311284  0.183148  0.074485  0.338102
WZSATU     -0.452811  0.158952  0.424572  0.249802  0.101593  0.461150
XDL        -0.523289  0.183692  0.490655  0.288683  0.117405  0.532926
XIANLNG    -0.400266  0.140507  0.375304  0.220815  0.089804  0.407638
XINGHE     -0.544613  0.191178  0.510650  0.300447  0.122189  0.554644
XINHWA     -0.278021  0.097595  0.260683  0.153376  0.062377  0.283142
XINQUAN    -0.536193  0.188222  0.502755  0.295802  0.120300  0.546069
XOX        -0.536885  0.188464  0.503403  0.296183  0.120455  0.546772
Y&G        -0.234975  0.082484  0.220322  0.129629  0.052719  0.239303
YBS        -0.508861  0.178627  0.477127  0.280723  0.114168  0.518233
YEELEE      0.114402 -0.040159 -0.107267 -0.063112 -0.025667 -0.116509
YFG        -0.553808  0.194405  0.519271  0.305520  0.124252  0.564008
YGL        -0.515154  0.180836  0.483028  0.284195  0.115580  0.524642
YILAI      -0.334315  0.117356  0.313466  0.184431  0.075007  0.340472
YINSON      1.061714 -0.372697 -0.995503 -0.585716 -0.238206 -1.081268
YKGI       -0.513352  0.180204  0.481338  0.283201  0.115175  0.522806
YLI        -0.457711  0.160672  0.429167  0.252506  0.102692  0.466141
YNHPROP    -0.096532  0.033886  0.090512  0.053254  0.021658  0.098310
YOCB       -0.141436  0.049649  0.132616  0.078026  0.031733  0.144041
YONGTAI    -0.427221  0.149969  0.400578  0.235685  0.095851  0.435089
YSPSAH      0.447083 -0.156941 -0.419202 -0.246643 -0.100308 -0.455317
YTL        -0.156941  0.055092  0.147154  0.086580  0.035211  0.159832
YTLLAND    -0.419202  0.147154  0.393059  0.231261  0.094052  0.426922
YTLPOWR    -0.246643  0.086580  0.231261  0.136065  0.055337  0.251185
YTLREIT    -0.100308  0.035211  0.094052  0.055337  0.022505  0.102155
ZECON      -0.455317  0.159832  0.426922  0.251185  0.102155  0.463703
ZELAN      -0.523638  0.183814  0.490982  0.288875  0.117483  0.533282
ZHULIAN    -0.068901  0.024187  0.064604  0.038011  0.015459  0.070170

               ZELAN   ZHULIAN
3A          0.264686  0.034828
AASIA       0.587747  0.077336
AAX         0.553720  0.072859
ABLEGRP     0.618112  0.081332
ABMB       -1.014311 -0.133464
ACME        0.539388  0.070973
ACOSTEC     0.479088  0.063039
ADVCON      0.471045  0.061981
ADVENTA     0.504092  0.066329
ADVPKG     -0.111368 -0.014654
AEM         0.606771  0.079840
AEMULUS     0.552242  0.072665
AEON        0.051749  0.006809
AEONCR     -6.292999 -0.828040
AFFIN      -0.250179 -0.032919
AFUJIYA     0.426448  0.056113
AHB         0.588687  0.077460
AHEALTH    -3.030907 -0.398810
AHP         0.336078  0.044222
AIM         0.545655  0.071798
AIRASIA    -0.402854 -0.053008
AIRASIAC59  0.642448  0.084534
AIRASIAC67  0.636878  0.083801
AIRASIAC68  0.650303  0.085568
AIRASIAC69  0.650303  0.085568
AIRASIAC70  0.649705  0.085489
AIRASIAC71  0.631541  0.083099
AIRASIAC72  0.600570  0.079024
AIRASIAC73  0.592909  0.078016
AIRASIAC74  0.548318  0.072148
...              ...       ...
WPRTS      -0.881934 -0.116046
WTHORSE     0.193666  0.025483
WTK         0.388834  0.051163
WZSATU      0.530346  0.069783
XDL         0.612892  0.080645
XIANLNG     0.468804  0.061686
XINGHE      0.637868  0.083931
XINHWA      0.325627  0.042846
XINQUAN     0.628006  0.082634
XOX         0.628816  0.082740
Y&G         0.275210  0.036213
YBS         0.595994  0.078422
YEELEE     -0.133991 -0.017631
YFG         0.648638  0.085348
YGL         0.603364  0.079391
YILAI       0.391560  0.051522
YINSON     -1.243512 -0.163623
YKGI        0.601253  0.079114
YLI         0.536086  0.070539
YNHPROP     0.113061  0.014877
YOCB        0.165655  0.021797
YONGTAI     0.500374  0.065840
YSPSAH     -0.523638 -0.068901
YTL         0.183814  0.024187
YTLLAND     0.490982  0.064604
YTLPOWR     0.288875  0.038011
YTLREIT     0.117483  0.015459
ZECON       0.533282  0.070170
ZELAN       0.613301  0.080699
ZHULIAN     0.080699  0.010618

[1022 rows x 1022 columns]

In [45]:
#export the covariance result 
pd.DataFrame(covariance).to_csv(path + r'\Data Mining\Python Code\Output\Covariance.csv')